{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Ajourd'hui DATA</title>
    <link rel="shortcut icon" href="logo.png" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'App1/he.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
</head>
<body style="width: 100wh;">
  <nav class="navbar fixed-top ">
    <div class="container-fluid">
        <a class="navbar-brand img " ><img  class="img" src="{% static 'App1/img/stellantis.gif' %}" alt=""></a>

        <ul class="navbar-nav text-left flex-row">
          <li class="nav-item ">
            <a class="nav-link btn-outline-white px-3" onclick="spinActivated()" href="{% url 'menu' %}">MENU</a>
          </li>
          <li class="nav-item ">
              <a class="nav-link btn-outline-white px-3 "onclick="spinActivated()" href="{% url 'main' %}">AUJOURD'HUI</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link btn-outline-white px-3 text-light" onclick="spinActivated()" href="{% url 'statistics' %}">HIER</a>
         </li>
            <li class="nav-item ">
                <a class="nav-link  btn-outline-white px-3" onclick="spinActivated()" href="{% url 'statistics2' %}">DATA</a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link  btn-outline-white px-3" onclick="spinActivated()" href="{% url 'statistics3' %}">STATISTIQUES</a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link btn-outline-white px-3" onclick="spinActivated()" href="{% url 'setting' %}">PARAMÈTRES</a>
            </li>
        </ul>
        <button class="navbar-toggler fixed-right" type="button" onclick="toggleSidebar()">
          <span class="bi bi-person"></span>
      </button>
    </div>
  </nav>

    <div id="sidebar" class="sidebar border pt-5 border-dark  text-center">
        <h4 class="text-center pt-5">{{ fName }} {{ lName }}</h4>
        <a class=" btn-outline-dark " onclick="spinActivated()" href="{% url 'statistics' %}">HIER</a>
        <a class=" btn-outline-dark " onclick="spinActivated()" href="{% url 'statistics2' %}">DATA</a>
        <a class=" btn-outline-dark " onclick="spinActivated()" href="{% url 'statistics3' %}">STATISTIQUES</a>
        <a class=" btn-outline-dark " onclick="spinActivated()" href="{% url 'setting' %}">PARAMÈTRES</a>
        <a class="btn-danger text-light " onclick="spinActivated()" href="{% url 'logout' %}">Déconnexion</a>
    </div>

    <div class="container w-100 text-center mt-5">
        <h1 class=" custom-title pt-3">Efficacité PQG {{from_date}}</h1>
        <div id="loading" class="loading-overlay p-3">
          <h4>Chargement des données ...</h4><br>
          <div class=" loading-spinner"></div>
        </div>
        <script>

        </script>
        <style>
 
        </style>
          </div>
              <div class="w-100">
                <div class="container-fluid w-100 text-white ">
                  <div class="row container justify-content-between w-100 m-auto text-center">
                      <div style="width: 20%;" class="container justify-space-between text-left ">
                            <div class="col-md-3 mb-4 w-100 m-auto">
                              <div class="card">
                                <h4 class="card-title card-title-one-line ">voiture produite</h4>
                                <h5>{{ checkedCarsNumber }}</h5>
                              </div>
                            </div>
                            <div class="col-md-3 mb-4 w-100 m-auto">
                              <div class="card">
                                <h4 class="card-title card-title-one-line ">Déf PQG </h4>
                                <h5>{{ insideFaults }}</h5>
                              </div>
                            </div>
                            <div class="col-md-3 mb-4 w-100 m-auto">
                              <div class="card">
                                <h4 class="card-title card-title-one-line ">Déf DVX </h4>
                                <h5>{{ outsideFaults }}</h5>
                              </div>
                            </div>
                            <div class="col-md-3 mb-4  w-100 m-auto" >
                              <div class="card">
                                <h6 style="white-space: nowrap;" class="card-title card-title-one-line ">Déf Non retouchés</h6>
                                <h5>{{ nbrofmissedpqg }}</h5>
                              </div>
                            </div>
                        </div>
                          <div style="width: 80%;">
                            <table class="w-100">
                              <tr>
                                <th colspan="6">TOP 8 DÉFAUTS DÉTECTÉS</th>
                              </tr>
                              <tr style="font-size: 14px;">
                                <th>RESPONSABLE</th>
                                <th>DÉFAUTS</th>
                                <th>NBR DE DÉTECTION</th>
                              </tr>
                            {% for row in mostDetectabledefect %}
                              <tr>
                                <td>{{ row.2 }}</td>
                                <td style="font-size: 15px; text-align:left; font-weight:bolder;">{{ row.1 }}</td>
                                <td>{{ row.0 }}</td>
                              </tr>
                            {% endfor %}
                            </table>
                            <form onsubmit="spinActivated()" class="w-100  p-1 justify-space-between row m-auto" method="GET">
                              <div class="w-100 m-auto">
                                <select name="way" id="way" class="col-md-6 dark-select">
                                  <option value="Emon">Basée sur l'heure Emon</option>
                                  <option value="nData">Basé sur les données brutes du système</option>
                                </select>
                                <button class="btn w-25 btn-primary" type="submit">Filtrer</button>
                              </div>
                            </form>
                          </div>
                        
                      </div>
                    </div>
                </div>

              <div class="row">
                  <div style="width: 47%;" class="text-center background-c m-auto container-fluide">
                      <h3 class="">Efficacité PQG</h3>
                      <canvas id="Chart1"></canvas>
                  </div>
                  <div style="width: 47%;" class="text-center background-c m-auto container-fluide">
                      <h3>Efficacité PQG par Équipe</h3>
                      {% if state %}
                      <p class="text-danger">ce graphique est basé sur l'heure EMON*</p>
                      {% endif %}
                      <canvas id="Chart2"></canvas>
                  </div>
                </div>
          <script>
              document.addEventListener('DOMContentLoaded', function () {
                  const ctx2 = document.getElementById('Chart2').getContext('2d');
                  const labels2 = [{% for item in result_list %}"{{ item.0 }}", {% endfor %}];
                  const datasets2 = [
                    {
                      label: 'A',
                      data: [{% for item in responsabilite_list_by_shift %}{% if item.0 == "A" %}"{{ item.1 }}"{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}],
                    },
                    {
                      label: 'B',
                      data: [{% for item in responsabilite_list_by_shift %}{% if item.0 == "B" %}"{{ item.1 }}"{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}],
                    },
                    {
                      label: 'N',
                      data: [{% for item in responsabilite_list_by_shift %}{% if item.0 == "N" %}"{{ item.1 }}"{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}],
                    },
                  ];
                  const targetValue2 = {{ objectif }};
                  createBarChartWithParams(ctx2, labels2, datasets2, targetValue2);
                });
            
                document.addEventListener('DOMContentLoaded', function () {
                  const ctx = document.getElementById('Chart1').getContext('2d');
                  const labels = [{% for item in result_list %}"{{ item.0 }}", {% endfor %}];
                  const data = [{% for item in result_list %}{{ item.1 }}, {% endfor %}];
                  const targetValue = {{ objectif }};
                  createBarChartWithParams1(ctx, labels, data, targetValue);
                });
            //toggleLoadingOverlay(false);
          </script>
      <script src="{% static 'App1/main.js' %}"></script>
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
          
</body>
</html>
